/* Color pallete
white: #F3F7F6
green: #5BA39B
red: #C34C34
yellow: #F8E02D
black: #1E1811 */



/* Global styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    background-color: #1E1811;
    color: #F3F7F6;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

/* Header */
header{
    font-size: 2vw;
}
.main-title {
    margin-left: 15px;
}

/* Navbar */
nav{
    position: absolute;
    right: 0;
    top: 5vw;
    background: none;
}

.navbar-item {
    padding: 0.75vw 2.25vw;
    background-color: #F8E02D;
    color: #1E1811;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.25vw;
    margin: 0 0.375vw;
}
.navbar-item:hover {
    background-color: #FAEB75;
}

.in{
    background-color: #5BA39B;
}
.in:hover{
    background-color: #7CB6AF;
}


/* Banner */
.banner {
    width: 100%;
    display: block;
}
.section-title{
    text-align: center;
    font-size: 2vw;
    padding: 0.75vw 2.25vw;
    border: solid #F8E02D;
    color: #F8E02D;
}