/* Color pallete
white: #F3F7F6
green: #5BA39B
red: #C34C34
yellow: #F8E02D
black: #1E1811 */



/* Global styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    background-color: #1E1811;
    color: #F3F7F6;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

/* Header */
header{
    font-size: 2vw;
}
.page-title {
    margin-left: 15px;
    color:#F8E02D;
}

/* Navbar */
nav{
    position: absolute;
    right: 0;
    top: 5vw;
    background: none;
}

.navbar-item {
    padding: 0.75vw 2.25vw;
    background-color: #F8E02D;
    color: #1E1811;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.25vw;
    margin: 0 0.375vw;
    transition-duration: 0.5s;
    border-radius: 3px;
}
.navbar-item:hover {
    transform: scale(1.1);
    background-color: #5BA39B;
    color:#F3F7F6;
}

.in{
    background-color: #5BA39B;
    color:#F3F7F6;
    border: 2px solid #F3F7F6;
}
.in:hover{
    background-color: #7CB6AF;
    color:#1E1811;
    border-color: #1E1811;
}


/* Banner */
.banner {
    background-image: url('./assets/banner1.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    position: relative;
    background-attachment: fixed;
}

/* Section */
.section-title{
    text-align: center;
    font-size: 2vw;
    padding: 0.75vw 2.25vw;
    border: solid #F8E02D;
    color: #F8E02D;
}
section{
    margin-bottom: 3vw;
}
.logo{
    width: 15vw;
    margin: 4vw;
    position: absolute
}

/* Articles */
.md-article{
    margin-left: 25vw;
    margin-top: 1.5vw;
    margin-right: 10vw;
}
article > h2, .mail > a{
    color:#5BA39B;
}

.mail{
    margin-top: 8vw;
    font-size: 3vw;
}

/* Gallery */
.gallery{
    margin: 0;
}
.gallery-container{
    margin-left: 10vw;
}
.gallery-img{
    border: 8px solid #C34C34;
    border-radius: 5px;
    display: inline-block;
    margin: 4vw 2vw;
    height: 16vw;
    transition: transform 0.5s;
}
.gallery-img:hover{
    transform: scale(1.3);
}
/* Footer */
footer{
    text-align: center;
    font-weight: bold;
}

