/* Color pallete
white: #F3F7F6
green: #5BA39B
red: #C34C34
yellow: #F8E02D
black: #1E1811 */



/* Global styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    background-color: #1E1811;
    color: #F3F7F6;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

/* Custom scrollbar */
::-webkit-scrollbar {
    width: 0.5em;
    background-color: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #5BA39B;
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  }
  
/* Navbar */
nav{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: 0 20px;
    border-bottom: 3px solid #F8E02D;
    border-radius: 1px;
    position: sticky;
    top: 0;
    z-index: 1;
}
.page-title{
    margin: 10px;
    color:#F8E02D;
    font-size: 3vw;
    font-weight: bold;
    text-decoration: none;
}
.navbar-items{
    display: grid;
    grid-template-columns: repeat(5, auto);
    justify-content: end;
    list-style: none;
}
.navbar-items li a{
        padding: 0.5vw 2vw;
        background-color: #F8E02D;
        color: #1E1811;
        font-weight: bold;
        text-decoration: none;
        font-size: 1.3vw;
        margin: 0.5vw;
        transition-duration: 0.5s;
        border-radius: 3px;
}
.navbar-items li a:hover{
        transform: scale(1.1);
        background-color: #5BA39B;
        color:#F3F7F6;
}

.navbar-items li .in{
    background-color: #5BA39B;
    color:#F3F7F6;
    border: 3px solid #F3F7F6;
}
.navbar-items li .in:hover{
    background-color: #7CB6AF;
    color:#1E1811;
    border-color: #1E1811;
}
/* Banner */
.banner {
    background-image: url('./assets/banner1.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    position: relative;
    background-attachment: fixed;
}

/* Section */
.section-title{
    text-align: center;
    font-size: 2vw;
    padding: 0.75vw 2.25vw;
    border: solid #F8E02D;
    color: #F8E02D;
    border-radius: 2px;
}

.section-container{
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
}
.section-container ul {
    list-style: none;
}
.section-container li{
    margin: 1rem;
}
.section-container h2 {
    color: #5BA39B;
}
.logo{
    width: 15vw;
    margin: auto;
}

/* Gallery */
.gallery{
    margin: 0;
}
.gallery-container{
    margin-left: 10vw;
}
.gallery-img{
    border: 8px solid #C34C34;
    border-radius: 5px;
    display: inline-block;
    margin: 4vw 2vw;
    height: 16vw;
    transition: transform 0.5s;
}
.gallery-img:hover{
    transform: scale(1.3);
}
/* Footer */
footer{
    text-align: center;
    font-weight: bold;
}
footer p{
    background-color: #5BA39B;
    color: #1E1811;
}

